body{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	color: white;
	background-color: black;
	background-repeat: no-repeat;
}

button{
	border-radius: 15px 15px 15px 15px;
	float: left;
	width: 150px;
	height: 40px;
	color: white;
	background-color: blue;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}
button:hover{
	border-radius: 15px 15px 15px 15px;
	float: left;
	width: 150px;
	height: 40px;
	color: white;
	background-color: blue;
	opacity: .8;
	line-height: 40px;
	text-align: center;
	font-size: 20px;

}
